@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@mixin get_font($size: 20px,
                $weight: 400,
                $style: "normal") {
    font: {
        family: "Inter", sans-serif;
        size: $size;
        weight: $weight;
        style: $style;
    }
}
